---
import ButtonListVertical from "@/components/button-list-vertical.astro";
import ProfileAlt from "@/components/profile-alt.astro";
import RootLayout from "@/layouts/root-layout.astro";
import { loadQuery } from "@/utils/sanity-load-query";
import Button from "@repo/ui/src/button.astro";
import Tag from "@repo/ui/src/tag.astro";
import type { LinkTree, Metadata } from "@sanity-app/sanity.types";

const {
  data: [siteData],
} = await loadQuery<LinkTree[]>({
  query: `*[_type == "linkTree"]`,
});

const {
  data: [linkTreeMetadata],
} = await loadQuery<Metadata[]>({
  query: `*[_type == "metadata"]`,
});
---

<RootLayout className='space-y-8 py-12' metadata={linkTreeMetadata}>
  {
    siteData?.currentStatus && (
      <div class='flex flex-col gap-2'>
        <Tag label={siteData?.currentStatus} class='self-center' />
      </div>
    )
  }

  <ProfileAlt data={siteData} />

  {/* Main Links */}
  <div class='space-y-8'>
    <ButtonListVertical links={siteData?.links} transitionName='button-list' />
  </div>

  {/* View All Links Button */}
  <div class='flex justify-center mt-8'>
    <Button
      as='a'
      href={siteData?.additionalLinks?.mainButtonUrl}
      variant='ghost'
      class='group text-sm'
    >
      <span class='flex items-center gap-2'>
        {siteData?.additionalLinks?.mainButtonLabel}
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='h-4 w-4 transition-transform group-hover:translate-x-1'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='2'
        >
          <path d='M5 12h14M12 5l7 7-7 7'></path>
        </svg>
      </span>
    </Button>
  </div>
</RootLayout>
