---
import ButtonList from "@/components/button-list.astro";
import HeadingInfo from "@/components/heading-info.astro";
import IconList from "@/components/icon-list.astro";
import ProfileImage from "@/components/profile-image.astro";
import RootLayout from "@/layouts/root-layout.astro";
import { loadQuery } from "@/utils/sanity-load-query";
import type { LinkTree, Metadata } from "@sanity-app/sanity.types";
import sanitizeImage from "@sanity-app/utils/sanitize-image";
import type { SanityImageSource } from "@sanity/image-url/lib/types/types";

const {
  data: [siteData],
} = await loadQuery<LinkTree[]>({
  query: `*[_type == "linkTree"]`,
});

const {
  data: [linkTreeMetadata],
} = await loadQuery<Metadata[]>({
  query: `*[_type == "metadata"]`,
});
---

<RootLayout
  className='flex justify-center items-center flex-col gap-6 text-[#222730] dark:text-gray-200'
  metadata={linkTreeMetadata}
>
  <div class='flex flex-col gap-8 justify-center items-center'>
    <ProfileImage
      src={sanitizeImage(siteData?.photo as SanityImageSource, { format: "webp" }).url()}
      alt={siteData?.photo?.alt || "profile image"}
    />
    <HeadingInfo name={siteData.name} role={siteData.role} description={siteData.description} />
  </div>
  <div class='flex flex-col gap-12 w-full text-center'>
    <ButtonList links={siteData?.links} />
    <div class='flex flex-col gap-4'>
      <IconList title={siteData.iconLinks?.title || ""} links={siteData.iconLinks?.links} />
    </div>
  </div>
</RootLayout>
