---
import { useSanityClient } from "@sanity/astro";
import RootLayout from '@layouts/root-layout.astro'
import Button from '@components/button'
import imageUrlBuilder from '@sanity/image-url'

const [data] = await useSanityClient().fetch(`*[_type == "linkTree"]`);

const builder = imageUrlBuilder(useSanityClient());

function getImageUrl(source) {
	return builder.image(source);
}

---

<RootLayout>
	<img src={getImageUrl(data.photo)?.url()} alt={data.photo.alt} class="w-52 h-52 rounded-full object-cover">
	<h1 class="text-lg font-bold">{data.name}</h1>
	<p class="text-base">{data.role}</p>
	<p class="text-sm text-center">{data.description}</p>
	<div class="flex flex-col gap-1 w-full">
		{
			data.links.map(link => (<Button as="a" href={link.url} aria-label={link.ariaLabel} target="_blank">{link.name}</Button>))
		}
	</div>
	<p>{data.iconLinks?.title}</p>
</RootLayout>
