---
import { LinkTree } from "@/types";
import sanitizeImage from "@/utils/sanitize-image";

type Props = LinkTree["iconLinks"];

const { title, links } = Astro.props!;
---

<p>{title}</p>
<div class='flex flex-row gap-4 justify-center'>
  {
    links?.map((icon) => {
      return (
        <a
          href={icon.url}
          aria-label={icon.ariaLabel}
          target='_blank'
          class='focus:outline-4 focus:outline-offset-4 focus:outline-[#D9BCFE]'
        >
          <span>
            <img
              src={sanitizeImage(icon).url()}
              class='h-6 w-6'
              alt={`icon for ${icon.ariaLabel}`}
            />
          </span>
        </a>
      );
    })
  }
</div>
