---
import { Portfolio } from "@/types";
import { PortableText } from "astro-portabletext";
import type { TypedObject } from "astro-portabletext/types";
import Subheading from "./ui/subheading.astro";

type Props = {
  data: Portfolio["experience"];
};

const { data } = Astro.props;
---

<section
  id='experience'
  class='w-full py-12 md:py-24 lg:py-32 relative [box-shadow:_0_0px_0px_1px_rgba(0,0,0,0.1)]'
>
  <div class='container px-4 md:px-6 mx-auto flex flex-col gap-12'>
    <div class='flex flex-col items-center justify-center text-center'>
      <div class='space-y-2'>
        {data?.title && <Subheading title={data?.title} description={data?.description} />}
      </div>
    </div>
    <div class='relative mx-auto grid max-w-5xl items-start gap-8'>
      <div class='absolute h-full w-full border-l-2 border-violet-300 left-2 -z-[2]'></div>
      {
        data?.experienceList?.map((experience) => (
          <div class='flex flex-col gap-4'>
            <div class='flex flex-col gap-2'>
              <div>
                <span class='bg-violet-100 text-violet-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-violet-900 dark:text-violet-300'>
                  {experience.time}
                </span>
              </div>
              <div class='flex flex-col gap-2 px-6'>
                <h3 class='text-2xl font-semibold dark:text-white'>{experience.role}</h3>
                <p class='font-semibold text-gray-500 dark:text-gray-400'>{experience.subtitle}</p>
              </div>
            </div>
            <div class='px-6'>
              <PortableText
                class='text-gray-800 dark:text-gray-300'
                value={experience.description as unknown as TypedObject}
              />
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <div
    class='absolute h-full w-full bg-purple-400 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10
    -z-10 top-0 left-0'
  >
  </div>
  <div
    class='absolute inset-0 -z-10 h-full w-full bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]'
  >
    <div
      class='absolute left-0 right-0 top-0 -z-10 m-auto h-[310px] w-[310px] bg-fuchsia-400 opacity-20 blur-[100px]'
    >
    </div>
  </div>
  <!--   <div
    class='absolute inset-0 -z-10 h-full w-full bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]'
  >
</div> -->
</section>
