---
import ExternalLink from "@/assets/icons/external-link.svg";
import Button from "@repo/ui/src/button.astro";
import Tag from "@repo/ui/src/tag.astro";
import { Portfolio } from "@sanity-app/sanity.types";
import sanitizeImage from "@sanity-app/utils/sanitize-image";
import type { SanityImageSource } from "@sanity/image-url/lib/types/types";
import { PortableText } from "astro-portabletext";
import Container from "./ui/container.astro";
import Section from "./ui/section.astro";

type Props = {
  data: Portfolio["projects"];
};

const { data } = Astro.props;
---

<Section id='portfolio' heading={data?.title} description={data?.description}>
  <Container class='flex flex-col gap-14'>
    {
      data?.projectsList?.map((project) => {
        return (
          <div class='flex gap-12 flex-col items-center md:items-start md:flex-row'>
            <img
              src={sanitizeImage(project?.photo as SanityImageSource, { format: "webp" }).url()}
              alt='Project 1'
              class='w-full md:w-80 [aspect-ratio:16/9] object-cover rounded-lg min-h-[180px]'
            />
            <div>
              <div class='flex flex-col flex-1 gap-2'>
                <div class='flex flex-row gap-2 items-center'>
                  <h4 class='text-2xl font-semibold dark:text-white'>
                    {project.projectName}
                    <div class='inline-flex gap-1 text-violet-500/90 dark:text-gray-400 font-normal'>
                      <span>{"-"}</span>
                      <span>{project.company}</span>
                    </div>
                  </h4>
                </div>
                <div class='flex flex-row gap-2'>
                  {project.technologiesOrMethodologies?.map((tech) => {
                    return (
                      <Tag label={tech} variant='purple' showDot={false} outlined size='small' />
                    );
                  })}
                </div>

                {project.description && (
                  <PortableText
                    class='mb-3 text-gray-800 dark:text-gray-300'
                    value={project.description}
                  />
                )}
              </div>
              {project?.cta && (
                <Button
                  as='a'
                  href={project.cta.url}
                  target='_blank'
                  variant='secondary'
                  class='group mt-2 text-xs py-1.5 px-3'
                >
                  {project.cta.label}
                  <ExternalLink class='group-hover:translate-x-1 transition-transform w-2.5 h-2.5 ms-2 rtl:rotate-180' />
                </Button>
              )}
            </div>
          </div>
        );
      })
    }
  </Container>
</Section>
