---
import '@fontsource/poppins';
import type { SanityValues } from "@sanity-app/sanity.config"
import sanitizeImage from '@utils/sanitize-image';

import { Image } from 'astro:assets';
import MobileBgImage from '@assets/bg-mobile.png';
import DesktopBgImage from '@assets/bg-desktop.png';

const { className, metadata } = Astro.props as { className: string; metadata: SanityValues['metadata'] };
---
<style>
  body {
    font-family: 'Poppins', sans-serif;
  }
</style>

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SEO TAGS -->
    <title>{metadata.title}</title>
    <meta name="description" content={metadata.description}>
    <meta name="keywords" content={metadata.keywords?.join(',')}>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content={metadata.url}>
    <meta property="og:title" content={metadata.title}>
    <meta property="og:description" content={metadata.description}>
    <meta property="og:image" content={sanitizeImage(metadata.image).url()}>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content={metadata.url}>
    <meta property="twitter:title" content={metadata.title}>
    <meta property="twitter:description" content={metadata.description}>
    <meta property="twitter:image" content={sanitizeImage(metadata.image).url()}>

    <!-- Favicon -->
    <link rel="icon" href={sanitizeImage(metadata.favicon).size(32, 32).url()} type="image/x-icon" />

    <script defer data-domain="genesisriv.link" src="/stats/js/script.outbound-links.js" data-api="/stats/api/event"></script>
  </head>
  <body class="p-4 sm:p-2 flex justify-center items-center m-auto min-h-screen min-h-[100dvh] max-w-full w-screen">
    <main class=`w-full max-w-[456px] ${className} py-8`>
      <picture class="fixed top-0 left-0 w-screen h-screen -z-10 dark:invert">
        <!-- Add image source for portrait orientation -->
        <source media="(orientation: portrait)" srcset={MobileBgImage.src} />
        <!-- Add image source for landscape orientation -->
        <source media="(orientation: landscape)" srcset={DesktopBgImage.src} />
        <!-- Add fallback image for browsers that don't support picture element -->
        <Image src={MobileBgImage} alt="Background Image" class="w-full h-full object-cover" />
      </picture>
        <slot class="z-10"/>
    </main>
  </body>
</html>