---
import "@fontsource/poppins";
import sanitizeImage from "@sanity-app/utils/sanitize-image";

import Background from "@/components/background.svelte";
import Header from "@/components/header.svelte";
import { Metadata, Portfolio } from "@sanity-app/sanity.types";

type Props = {
  metadata: Metadata;
  headerData: Portfolio["header"];
};

const { metadata, headerData } = Astro.props;
const { url } = Astro;
---

<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <!-- SEO TAGS -->
    <title>{metadata.title}</title>
    <meta name='description' content={metadata.description} />
    <meta name='keywords' content={metadata.keywords?.join(",")} />

    <!-- Open Graph / Facebook -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content={metadata.url} />
    <meta property='og:title' content={metadata.title} />
    <meta property='og:description' content={metadata.description} />
    <meta property='og:image' content={sanitizeImage(metadata.image, { format: "webp" }).url()} />

    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content={metadata.url} />
    <meta property='twitter:title' content={metadata.title} />
    <meta property='twitter:description' content={metadata.description} />
    <meta
      property='twitter:image'
      content={sanitizeImage(metadata.image, { format: "webp" }).url()}
    />

    <link
      rel='icon'
      href={sanitizeImage(metadata.favicon, { format: "webp" }).size(32, 32).url()}
      type='image/x-icon'
    />
    <link rel='canonical' href={url.href} />
  </head>
  <body class='bg-white dark:bg-gray-900 overflow-x-hidden'>
    <Header data={headerData} client:only='svelte' />
    <Background client:only='svelte' />
    <main>
      <slot />
    </main>
    <style>
      * {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
